body {
  font-family: 'IBM Plex Sans', sans-serif;
}

.nextra-body {
  width: 100%;
}

a {
  color: black;
}

.cta {
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.4rem 1rem;
  border-radius: 7px;
  text-decoration: none;
  user-select: none;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0);
  transition: all 0.4s ease;
  outline: none !important;
}
.cta-container:hover .cta {
  color: #999;
}
.cta-container .cta:hover {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #efefef inset;
  outline: none;
}
.cta-container .cta:active {
  color: #000;
  box-shadow: 0 0 0 #efefef, 0 0 100px #ddd inset;
  outline: none;
}

.dark .cta {
  color: #ccc;
}
.dark .cta-container:hover .cta {
  color: #777;
}
.dark .cta-container .cta:hover {
  color: #fff;
  box-shadow: 0 0 0 #333, 0 0 100px #333 inset;
}
.dark .cta-container .cta:active {
  color: #fff;
  box-shadow: 0 0 0 #333, 0 0 100px #444 inset;
}

article code {
  font-family: 'IBM Plex Mono', monospace;
}
